AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=https://<endpoint>.cognitiveservices.azure.com/
AZURE_DOCUMENT_INTELLIGENCE_API_KEY=<api_key>
AZURE_STORAGE_BLOB_ENDPOINT=https://<storage-account>.blob.core.windows.net
AZURE_STORAGE_BLOB_API_KEY=<storage-account-key>
AZURE_AI_SEARCH_ENDPOINT=https://<search-service>.search.windows.net
AZURE_AI_SEARCH_API_KEY=<search-api-key>
